<h1>New Recipe</h1>

<%= simple_form_for(@recipe) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :user_id, :as => :hidden %>
  <%= f.button :submit %>
  <% end %>
<%= link_to 'Back', users_path %>
