<h1>New Recipe</h1>

"if this works I could add my own for here and create a better form"

<%= render 'form', recipe: @recipe %>
<%= form_for(@recipe) do |f| %>
  <br>Name:<br>
  <%= f.text_field :name %><br><br>

  <br>Description:<br>
  <%= f.text_area :description %><br><br>

  <br>Ingredients:<br>
  <%= f.text_area :ingredients %><br><br>
  
  <%= f.submit %>
<% end %>
<%= link_to 'Back', users_path %>
